.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #131313;
    padding-top: 50px;
    padding-bottom: 50px;
}

.preview {
    background: whitesmoke;
    color: black;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.form {
    overflow-y: scroll;
}

.actual-form {
    margin-top: 25px;
    margin-right: 75px;
    margin-left: 50px;
}